<!doctype html>
<html>
<head><meta charset="utf8">
<title></title>
<link rel="stylesheet" type="text/css" href="个人主页.css">
</head>
<body>
<div id="rongqi">
<div id="top"></div>
<aside id="aside_left"></aside>
<header>
<div id="gerentu"></div>
<nav id="jiangnancun">
<div id="nav_daoheng">

</div>
</nav>

</header>
<article>
<div id="article_left">

<div id="article_left_bottom"
title="">
</div>
</div>
<div id="article_note">
    </ul>
    <div id="yuan"></div>
    <span></span>
</div>
<div id="article_right">
  <p>本博客网站由python django框架编写</p> 
  <p>项目地址：
  <a href="https://github.com/qigaohua/django_blog.git">https://github.com/qigaohua/django_blog.git</a>
  </p>
    <!-- <div class="lanhua"></div> -->
</div>
</article>
<aside id="aside_right"></aside>
<footer>
<div id="footer_top"></div>
<div id="footer_bottom">
<p>邮箱：
<a href="mailto:qigaohua168@163.com">qigaohua168@163.com</a>
</p>
</div>
</footer>

</div>
</body>
</html>
